
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-color: rgb(204, 31, 31);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.gameAera{
width: 60%;
height: 60%;
background-color: antiquewhite;
display: flex;
justify-content: center;

}

.player{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

#player1{
    width: 50%;
    background-color: white;
    
}

#player2{
    width: 50%;
    background-color:pink;
    
}
.currentScore{
    padding: 20px 50px;
    background-color: rgb(112, 7, 7);
    border-radius: 10px;
    color: azure;
}

#extreBtn{
position: absolute;
display: flex;
flex-direction: column;
justify-content: space-around;
height: 50%;
}
.name{
    font-size: 28px;
    font-weight: 600;
    font-family: Arial, sans-serif;

}
.totalScore{
    font-size: 28px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}
.currentScore{
    font-size: 28px;
    font-weight: 600;
    font-family: Arial, sans-serif;
}
.active{
    background-color: burlywood;
}

#dice{
    width: 100px;
    height: 100px;
}

img{
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 22px;
}



.btn {
    color: #444;
    background: none;
    border: 2px solid black;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    background-color: white;
    padding: 5px;
    border-radius: 50rem;
}
.btn:hover{
    background-color: royalblue;
    color: wheat;
}